<div class="profile-navbar">
    <ul class="profile-menu">
        <li class="profile-menu-item">
            <a href="/profile/new-bet">New Bet</a>
        </li>
        <li class="profile-menu-item">
            <a href="/profile/settled">Settled</a>
        </li>
        <li class="profile-menu-item">
            <a href="/profile/summary">Summary</a>
        </li>
    </ul>
</div>