<div class="col-md-6">
    <h2>Account Settings</h2>

    <form class="form account-form">
        <div class="form-group">
            <label for="email-account">New Email:</label>
            <input class="form-input" type="email" id="email-account" />
        </div>
        <div class="form-group">
            <label for="password-account">New Password:</label>
            <input class="form-input" type="password" id="password-account" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update Account</button>
        </div>
    </form>
</div>

<script src="./js/account.js"></script>