<!DOCTYPE html>
<html>
  {{>htmlHead}}
<body>

  {{> header}}

  <main class="main">
  <div class="container">
    <div class="title">
   <h2 class="">
    Title
     </h2> 
  <div class="body">
    <p class="amount">
        100$
   <p class="created by">
    Username=Lockitin
    <p class="date created">
        03/07/2024
    </p>
    <p class="status">
        Active
    </p>
    <p class="winner">
        Username=Lockitin
    </p>
   </p> </p>
  </div>
   </div> 
     </main>

  {{> footer}}

</body>
</html>