<div class="container">
    <div class="title">
        <h2>Title</h2>
    </div>
    <div class="body">
        <p class="amount">$100</p>
        <p class="created by">Username=Lockitin</p>
        <p class="date created">03/07/2024</p>
        <p class="status">Active</p>
        <p class="winner">Username=Lockitin</p>
    </div>
</div>