<div class="container">
    <div class="row">
        {{!--  --}}
        <div class="column">

        </div>
        {{!-- Sidebar --}}
        <div class="column">
            <h2>Recent Bets</h2>
            <ul class="list-group">
                {{#each bets as |bet|}}
                <li class="list-group-item">
                    <h3>{{bet.winner.username}} won ${{bet.amount}}</h3>
                    {{#each bet.users as |user|}}
                    <p>{{user.username}} bet ${{user.stake.amount}}</p>
                    {{/each}}
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>