<h2 class="text-center mt-4">Sign Up:</h2>
<div class="login-container">
  <form class="login-form" id="login">
    <div class="login-username-form">
      <label for="username">Username:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        name="username"
        id="username-login"
      />
    </div>
    <div class="login-password-form">
      <label for="password">Password:</label>
      <input
        type="text"
        class="form-control"
        placeholder="Password"
        name="password"
        id="password-login"
      />
    </div>
    <div class="login-up-btn">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="sign-up-option">
      <a href="/sign-up" class="sign-up-link">
        <p>Login Instead</p>
      </a>
    </div>
  </form>
</div>

<script src="js/login.js"></script>