<link rel="stylesheet" href="/css/newBet.css" />
<div class="main-container">
  <div class="profile-navbar">
    <ul class="profile-menu">
      <li class="profile-menu-item">
        <a href="/profile/new-bet">New Bet</a>
      </li>
      <li class="profile-menu-item">
        <a href="/profile/settled">Settled</a>
      </li>
      <li class="profile-menu-item">
        <a href="/profile/summary">Summary</a>
      </li>
    </ul>
  </div>

  <div class="new-bet-container">
    <div class="header">
      <h2>Bet Slip</h2>
    </div>
    <form id="new-bet" class="bet-form">
      <div class="bet-info">
        <div class="bet-title">
          <div class="send-user">
            <label for="send-to">SEND TO</label>
            <input
              type="text"
              name="send-to"
              id="send-to"
            />
          </div>
          <div class="title">
            <label for="bet-title">TITLE</label>
            <input
              type="text"
              name="bet-title"
              id="bet-title"
            />
          </div>
        </div>
        <div class="stake-return">
          <div class="stake">
            <label for="stake-amount">STAKE</label>
            <input
              type="number"
              name="stake-amount"
              step="0.01"
              id="stake-amount"
            />
          </div>
        </div>
      </div>
      <div class="new-bet-btn">
          <button type="submit">Send Bet</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newBet.js"></script>