.new-bet-container {
    width: 50vw;
    margin: 55px auto 150px auto;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    background-color: var(--white);
    box-shadow: 0px 2px 15px 0px var(--secondary);
}

.header{
    text-align: center;
}

.bet-info{
    display: flex;
    flex-direction: row;
}

.bet-title{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto 5px auto 0;
}

.send-user {
    display: flex;
    flex-direction: column;
}

.send-user > label, .title > label {
    font-size: 15px;
}

#send-to, #bet-title {
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.title{
    display: flex;
    flex-direction: column;
}

.stake-return{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto 0 auto 5px;
}

.stake{
    display: flex;
    flex-direction: column;
}

.stake > label{
    font-size: 15px;
    text-align: center;
}

#stake-amount{
    text-align: center;
    height: 40px;
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.new-bet-btn {
    display: flex;
    justify-content: center;
}

.new-bet-btn > button {
    width: 50%;
    margin-top: 25px;
    padding: 5px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    box-shadow: 0px 1px 10px 0px var(--primary);
    transition: 0.3s ease-out;
}

.new-bet-btn > button:hover {
    box-shadow: 0px 1px 10px 0px var(--green);
    border: 1px solid var(--green);
    background-color: var(--green);
}

/* Tablet */
@media screen and (max-width: 769px){
    .new-bet-container{
        width: 70%;
    }
}

/* Mobile L */
@media screen and (max-width: 426px){
    .new-bet-container{
        width: 80%;
    }

    #stake-amount{
        width: 100%;
    }
}

/* Mobile M */
@media screen and (max-width: 376px){
    .send-user > label, .title > label, .stake > label {
        font-size: 12px;
    }
    #send-to, #bet-title {
        height: 30px;
        font-size: 15px;
        border-radius: 10px;
        padding: 12px;
    }
    
    #stake-amount{
        text-align: center;
        height: 30px;
        font-size: 15px;
        padding: 12px;
    }
}