.profile-container {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
}

.pending-container, .active-container{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pending-container > h2, .active-container h2 {
    font-weight: 800;
}

.pending-bet, .active-bet{
    border: 1px solid var(--secondary);
    border-radius: 6px;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: var(--white);
    box-shadow: 0px 2px 15px 0px var(--secondary);
}

.active-bet{
    border: 1px solid var(--secondary);
    border-radius: 6px;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: var(--white);
    box-shadow: 0px 2px 15px 0px var(--secondary);
}

.bet-information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}


.pending-title{
    margin-top: 10px;
}

.pending-title > h4, .active-title > h4{
    font-weight: 700;
    font-size: 150%;
}

.waiting-pending-opposer, .pending-opposer, .active-text{
    color: var(--secondary);
}

.waiting-pending-opposer, .waiting-pending-amount{
    font-weight: 450;
}

.waiting-pending-amount, .pending-amount{
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.waiting-pending-amount{
    width: 75%;
    margin: 0 auto 5px auto;
}

.waiting-pending-amount > p , .pending-amount > p {
    margin: auto 0;
    color: white;
}

.bet-info{
    /* border: 1px solid blue; */
    width: 65%;
    padding-left: 10px;
}

.user-decision{
    /* border: 1px solid green; */
    /* margin-top: 10px; */
    margin: auto 0;
    /* width: 50%; */
}

.user-decision > p {
    font-size: 110%;
}


.choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.accept > button {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 5px;
    color: white;
    transition: 0.5s ease-out;
}

.accept > button:hover {
    border: 1px solid var(--green);
    background-color: var(--green);
}

.Deny > button {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 5px;
    color: white;
    transition: 0.5s ease-out;
}

.Deny > button:hover {
    border: 1px solid var(--primary);
    background-color: var(--primary);
}

.first-user, .second-user, .active-title{
    margin: auto auto;
}

.active-title{
    padding: 3px;
}

.vote-user > h5 {
    margin-bottom: 15px;
}

.vote-user > button {
    margin-bottom: 10px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    padding: 3px 10px;
    color: white;
    border-radius: 20px;
    transition: 0.5s ease-out;
}

.vote-user > button:hover{
    background-color: var(--green);
    border: 1px solid var(--green);
}

.active-bet, .pending-bet{
    padding: 5px;
}

.active-text {
    margin: auto 0;
}

.text-container {
    margin-top: 10px;
    font-size: 105%;
    font-weight: 500;
}

/* Tablet */
@media screen and (max-width: 769px){
    .profile-container{
        flex-direction: column;
        align-items: center;
    }
    .pending-container, .active-container{
        width: 80%;
        margin-bottom: 25px;
    }
    .active-title{
        margin-top: 0;
    }
}

/* Mobile L */
@media screen and (max-width: 426px) {

    .pending-container, .active-container{
        width: 100%;
    }

    .pending-title > h4, .active-title > h4{
        font-size: 125%;
    }

    .vote-user > h5 {
        font-size: 90%;
    }

    .vote-user > button {
        font-size: 70%;
    }

    .active-text{
        font-size: 80%;
    }

    .text-container {
        font-size: 85%;
    }

}

/* Mobile S */

@media screen and (max-width: 321px){
    .pending-title > h4, .active-title > h4{
        font-size: 105%;
    }
    .pending-opposer{
        font-size: 85%;
    }
    .pending-amount > p{
        font-size: 80%;
    }
    .user-decision > p {
        font-size: 95%;
    }
    .waiting-pending-amount > p{
        font-size: 85%;
    }
    .accept > button, .Deny > button{
        font-size: 80%;
    }
    .vote-user > h5 {
        font-size: 75%;
    }

    .vote-user > button {
        font-size: 55%;
    }
    .text-container {
        font-size: 70%;
    }
}