/* General stylings */

:root{
    --primary: #D04848;
    --secondary: #524545;
    --light-gray: #D0D0D0;
    --light: #f9f9f9;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #499DD1;
    --yellow: #D1CF49;
    --green: #49D170;
    --red: #FF0000;
}

.navbar {
    font-size: 150%;
    font-weight: 700;
    background-color: var(--blue);
}

.navbar * {
    color: var(--white);
}

.navbar-brand {
    font-size: 130%;
}

body {
    background-color: var(--light-gray);
    background-image: url("../images/background1.svg");

}

.card {
    margin-bottom: 2em;
    box-shadow: 0px 2px 15px 0px var(--secondary);
    border-color: var(--secondary);
}

.button-card {
    margin-bottom: 2em;
    box-shadow: 0px 2px 15px 0px var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.card-header {
    background-color: var(--primary);
    color: var(--white);
    border-bottom: 3px solid var(--secondary);
}

.card .list-group-item {
    border-color: var(--secondary);
}

.list-group-flush a .list-group-item {
    /* Fix the styling broken by adding an anchor around flush list group items */
    border-top: none;
    border-left: none;
    border-right: none
}

.list-group-flush a:last-child .list-group-item {
    /* Fix the styling broken by adding an anchor around flush list group items */
    border-bottom: none;
}

.list-group > a {
    /* Remove underline from linked list items */
    text-decoration: none;
}



/* Homepage stylings */

.welcome {
    background-color: var(--white);
    padding: 0.5em;
    border: var(--secondary) solid 1px;
    margin: 3em;
    border-radius: 1em;
    box-shadow: 0 0.1em 1em 0 var(--secondary);
}

.welcome > h2 {
    display: inline;
    font-size: 5em;
    text-align: center;
}

#new-bet-button {
    height: 7rem;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 3rem;
    background-color: var(--blue);
    color: var(--white);
}

#login-button,
#signup-button {
    height: 3rem;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 1rem;
    background-color: var(--primary);
    color: var(--white);
}

#signup-button {
    margin-bottom: 3rem;
}

#or {
    margin-bottom: 3rem;
    padding: 0.5rem 0;
    font-weight: 500;
}

.right-bar .card-header {
    background-color: var(--blue);
}

/* Tablet */
@media screen and (max-width: 769px) {
    .welcome > h2 {
        font-size: 3em;
    }
}

@media screen and (max-width: 767px) {
    #or {
        display: none;
    }

    #new-bet-button,
    #login-button,
    #signup-button {
        margin-bottom: 2rem;
    }

    #new-bet-button {
        background-color: var(--primary);
    }

    #login-button,
    #signup-button {
        background-color: var(--blue);
    }
}

/* Mobile L */
@media screen and (max-width: 426px) {
    .welcome {
        margin: 3em 0.5em;
    }

    .welcome > h2 {
        font-size: 2em;
    }
}



/* Profile page stylings */

.profile-navbar {
    background-color: var(--primary);
    width: 100%;
}

.profile-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 22px;
    padding-left: 0;
    padding: 10px 0;
}

.profile-menu-item{
    list-style-type: none;
}

.profile-menu-item > a{
    text-decoration: none;
    font-size: 110%;
    color: white;
    font-weight: 700;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.5s ease-out;
}

.profile-menu-item > a:hover {
    border-bottom: 4px solid white;
}

/* Mobile L */
@media screen and (max-width: 426px){
    .profile-menu-item > a {
        font-size: 100%;
    }
}
/* Mobile M */
@media screen and (max-width: 376px){
    .profile-menu-item > a {
        font-size: 90%;
    }
}
/* Mobile S */
@media screen and (max-width: 376px){
    .profile-menu-item > a {
        font-size: 75%;
    }
}

.settled-bet.SETTLED.won {
    background-color: var(--green);
}

.settled-bet.SETTLED.lost {
    background-color: var(--primary);
    color: var(--white);
}

.settled-bet.VOID {
    background-color: var(--secondary);
    color: var(--white);
}



/* Account page stylings */

.account-container {
    width: 50vw;
    background-color: var(--white);
    margin: 55px auto 0 auto;
    padding: 25px;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    box-shadow: 0px 2px 15px 0px var(--secondary);
}

.account-container .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-container label {
    align-self: flex-start;
}

.account-container input.form-input {
    align-self: stretch;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.account-container button {
    width: 50%;
    margin-top: 25px;
    padding: 5px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: 0.3s ease-out;
}

.account-container button:hover {
    box-shadow: 0px 1px 10px 0px var(--green);
    border: 1px solid var(--green);
    background-color: var(--green);
}

/* Tablet */
@media screen and (max-width: 769px) {
    .account-container {
        width: 80vw;
    }
}

/* Mobile L */
@media screen and (max-width: 426px) {
    .account-container {
        margin-top: 2em;
        font-size: 80%;
    }
}



/* Bet info page stylings */

#bet-info {
    margin: 55px auto 0 auto;
    width: 50vw;
}

#bet-info .card-header {
    text-align: center;
}

#bet-info .card-body {
    font-size: 120%;
    font-weight: 500;
}

/* Tablet */
@media screen and (max-width: 769px) {
    #bet-info {
        width: 80vw;
    }
}

/* Mobile L */
@media screen and (max-width: 426px) {
    #bet-info {
        margin-top: 2em;
        font-size: 80%;
    }
}