/* General stylings */

:root{
    --primary: #D04848;
    --secondary: #524545;
    --light: #CAC6C6;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #499DD1;
    --yellow: #D1CF49;
    --green: #49D170;
    --red: #FF0000;
}

.navbar {
    font-size: 150%;
    font-weight: 700;
    background-color: var(--blue);
}

.navbar * {
    color: var(--white);
}

.navbar-brand {
    font-size: 130%;
}

body {
    background-color: var(--white);
    background-image: url("../images/background1.svg");
}

.card {
    margin-bottom: 2em;
    box-shadow: 0px 2px 15px 0px var(--secondary);
    border-color: var(--secondary);
}

.card-header {
    color: var(--white);
    border-bottom: 3px solid var(--secondary);
}



/* Homepage stylings */

.welcome {
    background-color: var(--white);
    padding: 0.5em;
    border: var(--secondary) solid 0.1em;
    margin: 3em;
    border-radius: 1em;
    box-shadow: 0 0.1em 1em 0 var(--secondary);
}

.welcome > h2 {
    display: inline;
    font-size: 5em;
    text-align: center;
}

.left-bar .card-header {
    background-color: var(--primary);
}

.right-bar .card-header {
    background-color: var(--blue);
}



/* Profile page stylings */

.profile-navbar {
    background-color: var(--primary);
    width: 100%;
}

.profile-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 22px;
    padding-left: 0;
    padding: 10px 0;
}

.profile-menu-item{
    list-style-type: none;
}

.profile-menu-item > a{
    text-decoration: none;
    font-size: 110%;
    color: white;
    font-weight: 700;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.5s ease-out;
}

.profile-menu-item > a:hover {
    border-bottom: 4px solid white;
}


/* Account page stylings */

.account-container {
    width: 50vw;
    background-color: var(--white);
    margin: 55px auto 0 auto;
    padding: 25px;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    box-shadow: 0px 2px 15px 0px var(--secondary);
}

.account-container .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-container label {
    align-self: flex-start;
}

.account-container input.form-input {
    align-self: stretch;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.account-container button {
    width: 50%;
    margin-top: 25px;
    padding: 5px;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    transition: 0.3s ease-out;
}

.account-container button:hover {
    box-shadow: 0px 1px 10px 0px var(--green);
    border: 1px solid var(--green);
    background-color: var(--green);
}