/* General stylings */

:root{
    --primary: #D04848;
    --secondary: #524545;
    --light: #CAC6C6;
    --white: #FFFFFF;
    --black: #000000;
    --blue: #499DD1;
    --yellow: #D1CF49;
    --green: #49D170;
    --red: #FF0000;
}

.navbar {
    font-size: 150%;
    font-weight: 700;
    background-color: var(--blue);
}

.navbar * {
    color: var(--white);
}

.navbar-brand {
    font-size: 130%;
}

body {
    background-color: var(--white);
    background-image: url("../images/background1.svg");
}



/* Homepage stylings */

.welcome {
    background-color: var(--white);
    padding: 1em;
    border: var(--secondary) solid 0.5em;
    margin: 3em;
    border-radius: 1em;
}

.welcome > h2 {
    display: inline;
    font-size: 6em;
    text-align: center;
}

.left-bar {
    background-color: var(--primary);
}

.right-bar {
    background-color: var(--blue);
}



/* Profile page stylings */

.profile-navbar {
    background-color: var(--primary);
    width: 100%;
}

.profile-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 22px;
    padding-left: 0;
    padding: 10px 0;
}

.profile-menu-item{
    list-style-type: none;
}

.profile-menu-item > a{
    text-decoration: none;
    font-size: 110%;
    color: white;
    font-weight: 700;
    border-bottom: 0px solid transparent;
    transition: border-bottom 0.5s ease-out;
}

.profile-menu-item > a:hover {
    border-bottom: 6px solid white;
}